<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.task.dao.TaskfoodDetailDao">

	<select id="listByTaskfoodId" parameterType="Long" resultType="TaskfoodDetail">
		select
			a.id,
			a.taskfood_id as taskfoodId,
			a.food_id as "food.id",
			a.food_name as "food.name",
			a.food_price as "food.price" 
		from task_food_detail a where a.taskfood_id = #{taskfoodId}
	</select>
	
	<delete id="deleteByTaskfoodId" parameterType="Long">
		delete from task_food_detail where taskfood_id = #{taskfoodId}
	</delete>
	
	<insert id="add">
		insert into task_food_detail(taskfood_id,food_id,food_name,food_price) values
		(#{taskfoodId},#{food.id},#{food.name},#{food.price})
	</insert>

</mapper>