<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.task.dao.TaskgoodsDetailDao">

	<select id="listByTaskgoodsId" parameterType="Long" resultType="TaskgoodsDetail">
		select
			a.id,
			a.taskgoods_id as taskgoodsId,
			a.goods_id as "goods.id",
			a.goods_name as "goods.name",
			a.goods_price as "goods.price" 
		from task_goods_detail a where a.taskgoods_id = #{taskgoodsId}
	</select>
	
	<delete id="deleteByTaskgoodsId" parameterType="Long">
		delete from task_goods_detail where taskgoods_id = #{taskgoodsId}
	</delete>
	
	<insert id="add">
		insert into task_goods_detail(taskgoods_id,goods_id,goods_name,goods_price) values
		(#{taskgoodsId},#{goods.id},#{goods.name},#{goods.price})
	</insert>

</mapper>