<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('商品列表')" />
</head>
<!-- 上面引入了shiro的thymeleaf支持 -->
<!-- 引入用到的css -->

<body class="gray-bg">

	<div class="container-div">
		<div class="row">
		
			<div class="col-sm-12 search-collapse">
				<form id="role-form">
					<div class="select-list">
						<ul>
							<li>
								名称：<input type="text" name="name"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
		
			<div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" >
	                <i class="fa fa-plus"></i> 新增
	            </a>
	            <a class="btn btn-primary single disabled" onclick="$.operate.edit()">
		            <i class="fa fa-edit"></i> 修改
		        </a>
				<a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()">
		            <i class="fa fa-remove"></i> 删除
		        </a>
	        </div>
	        
	        
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
			
		</div>
	</div>
	
	
	<th:block th:include="include :: footer" />
	
	
	<script th:inline="javascript">
		var prefix = ctx + "task/goods";
		$(function() {
		    var options = {
		        url: prefix + "/list",
		        createUrl: prefix + "/add",
		        updateUrl: prefix + "/edit/{id}",
		        removeUrl: prefix + "/remove",
		        modalName: "商品管理",
		        columns: [{
		            checkbox: true
		        },
		        {
		            field: 'id',
		            title: '主键ID'
		        },
		        {
		            field: 'name',
		            title: '商品名称'
		        },
		        {
		            field: 'remark',
		            title: '说明'
		        },
		        {
		            field: 'price',
		            title: '价格'
		        },
		        {
		            field: 'cover',
		            title: '图片',
		            formatter: function(value, row, index) {
		               	if(value != null || value != ''){
							var actions = [];
			                actions.push('<a  href="javascript:void(0)" onclick="openCover(\'' + row.cover + '\')">查看图片</a> ');
			                return actions.join('');
						}
		            }
		        },
		        {
		            field: 'sort',
		            title: '排序'
		        },
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		                var actions = [];
		                actions.push('<a class="btn btn-primary btn-xs " href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>修改</a> ');
		                actions.push('<a class="btn btn-danger btn-xs " href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a> ');
		                return actions.join('');
		            }
		        }]
		    };
		    $.table.init(options);
		});
		
		function openCover(cover){
			window.open(ctx + cover)
		}
	</script>
</body>
</html>