<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.system.dao.SysDictDataDao">
	
	<resultMap type="SysDictData" id="SysDictDataResult">
		<id     property="dictCode"   column="dict_code"   />
		<result property="dictSort"   column="dict_sort"   />
		<result property="dictLabel"  column="dict_label"  />
		<result property="dictValue"  column="dict_value"  />
		<result property="dictType"   column="dict_type"   />
		<result property="cssClass"   column="css_class"   />
		<result property="listClass"  column="list_class"  />
		<result property="isDefault"  column="is_default"  />
		<result property="status"     column="status"      />
	</resultMap>
	
	<sql id="selectDictDataVo">
        select 
            dict_code, 
            dict_sort, 
            dict_label, 
            dict_value, 
            dict_type, 
            css_class, 
            list_class, 
            is_default, 
            status, 
            remark 
		from sys_dict_data
    </sql>

	<select id="list" parameterType="SysDictData" resultMap="SysDictDataResult">
	    <include refid="selectDictDataVo"/>
	    where delete_flag = #{deleteFlag}
	    <if test="dictType != null and dictType != ''">
			AND dict_type = #{dictType}
		</if>
		<if test="dictLabel != null and dictLabel != ''">
			AND dict_label like concat('%', #{dictLabel}, '%')
		</if>
		<if test="status != null and status != ''">
			AND status = #{status}
		</if>
		order by dict_sort desc
	</select>
	
	<select id="listByType" parameterType="SysDictData" resultMap="SysDictDataResult">
		<include refid="selectDictDataVo"/>
		where delete_flag = #{deleteFlag} and status = '0' and dict_type = #{dictType} order by dict_sort desc
	</select>
	
	<select id="getDictLabel" resultType="String">
		select dict_label from sys_dict_data
		where dict_type = #{dictType} and dict_value = #{dictValue}
	</select>
	
	<select id="getById" parameterType="Long" resultMap="SysDictDataResult">
		<include refid="selectDictDataVo"/>
		where dict_code = #{dictCode}
	</select>
	
	<select id="countByType" resultType="Integer">
	    select count(1) from sys_dict_data where dict_type=#{dictType}  and delete_flag = #{deleteFlag}
	</select>
	
	<update id="delete" parameterType="SysDictData">
 		update 
            sys_dict_data 
        set 
            delete_flag = #{deleteFlag},
            delete_by = #{deleteBy},
            delete_time = sysdate() 
        where dict_code = #{dictCode}
 	</update>
 	
 	<update id="deleteBatchMapArray" parameterType="java.util.Map">
 		update 
            sys_dict_data 
        set 
            delete_flag = #{deleteFlag},
            delete_by = #{deleteBy},
            delete_time = sysdate() 
        where dict_code in 
        <foreach item="dictId" collection="array" open="(" separator="," close=")">
        	#{dictId}
        </foreach>
 	</update>
 	
 	
	
 	
	<update id="update" parameterType="SysDictData">
 		update sys_dict_data
 		<set>
 			<if test="dictSort != null and dictSort != ''">dict_sort = #{dictSort},</if>
 			<if test="dictLabel != null and dictLabel != ''">dict_label = #{dictLabel},</if>
 			<if test="dictValue != null and dictValue != ''">dict_value = #{dictValue},</if>
 			<if test="dictType != null and dictType != ''">dict_type = #{dictType},</if>
 			<if test="cssClass != null">css_class = #{cssClass},</if>
 			<if test="listClass != null">list_class = #{listClass},</if>
 			<if test="isDefault != null and isDefault != ''">is_default = #{isDefault},</if>
 			<if test="status != null">status = #{status},</if>
 			<if test="remark != null">remark = #{remark},</if>
 			<if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
 			update_time = sysdate()
 		</set>
 		where dict_code = #{dictCode}
	</update>
	
	<update id="updateDictDataType" parameterType="String">
 		update sys_dict_data set dict_type = #{newDictType} where dict_type = #{oldDictType}
	</update>
 	
 	<insert id="add" parameterType="SysDictData">
 		insert into sys_dict_data(
 			<if test="dictSort != null and dictSort != ''">dict_sort,</if>
 			<if test="dictLabel != null and dictLabel != ''">dict_label,</if>
 			<if test="dictValue != null and dictValue != ''">dict_value,</if>
 			<if test="dictType != null and dictType != ''">dict_type,</if>
 			<if test="cssClass != null and cssClass != ''">css_class,</if>
 			<if test="listClass != null and listClass != ''">list_class,</if>
 			<if test="isDefault != null and isDefault != ''">is_default,</if>
 			<if test="status != null">status,</if>
 			<if test="remark != null and remark != ''">remark,</if>
 			<if test="createBy != null and createBy != ''">create_by,</if>
 			create_time
 		)values(
 		    <if test="dictSort != null and dictSort != ''">#{dictSort},</if>
 		    <if test="dictLabel != null and dictLabel != ''">#{dictLabel},</if>
 			<if test="dictValue != null and dictValue != ''">#{dictValue},</if>
 			<if test="dictType != null and dictType != ''">#{dictType},</if>
 			<if test="cssClass != null and cssClass != ''">#{cssClass},</if>
 			<if test="listClass != null and listClass != ''">#{listClass},</if>
 			<if test="isDefault != null and isDefault != ''">#{isDefault},</if>
 			<if test="status != null">#{status},</if>
 			<if test="remark != null and remark != ''">#{remark},</if>
 			<if test="createBy != null and createBy != ''">#{createBy},</if>
 			sysdate()
 		)
	</insert>
	
</mapper> 