html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

button {
    cursor: pointer;
}

ul, ol {
    list-style: none;
}

select, input {
    font-size: 14px;
    font-family: inherit;
    padding: 0;
    margin: 0;
    border: none;
    vertical-align: middle;
    -webkit-appearance: none;
}

textarea {
    resize: none;
    outline: none;
    border: 0 none;
    padding: 0;
    margin: 0;
    overflow: auto;
    -webkit-appearance: none;
}

img {
    border: 0;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

body {
    font-family: "Microsoft YaHei", Arial, SimSun, tahoma, Verdana;
    color: #6a6a7c;
    background: #fff;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s, i, em {
    font-style: normal;
    text-decoration: none;
}

b {
    font-weight: normal;
}

input, button, textarea {
    display: inline-block;
    font-family: inherit;
    border: 0 none;
    outline: none;
    background: none;
}

input:focus {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-modify: read-write-plaintext-only;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: block;
    line-height: 0;
    height: 0;
    visibility: hidden;
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.oh {
    overflow: hidden;
}

.hide {
    display: none;
}

html, body {
    width: 100%;
    height: 100%;
}

.my-shadow {
    box-shadow: 0 0 10px #dedede;
    border-radius: 8px;
}

.color-deep {
    color: #323232;
}

.color-light {
    color: #b2b2b2;
}

.my-input {
    border: 1px solid #00A0F9;
    height: 29px;
    width: 80%;
    margin-right: 2%;
    box-sizing: border-box;
    padding: 4px 10px;
    font-size: 12px;
    line-height: 20px;
    border-radius: 15px;
    vertical-align: middle;
}

.my-btn {
    background: #00A0F9;
    font-size: 12px;
    width: 18%;
    color: #ffffff;
    line-height: 29px;
    text-align: center;
    border-radius: 15px;
}

.submit-btn:active,
.my-btn:active {
    background: #3dafde;
}

/*顶部搜索公用样式*/
.btn-box {
    width: 100%;
    position: relative;
}

.btn-box form {
    width: 100%;
    box-sizing: border-box;
    padding: 15px 20px;
    height: 60px;
    position: fixed;
    top: 0;
    z-index: 1;
    background: #fff;
}

.space {
    height: 60px;
}

.btn-box::after {
    content: '';
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 15px;
    background: url(../images/blur-down.png) no-repeat center top;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    z-index: 2;
}

.btn-box button {
    position: relative;
}

.btn-box button::before {
    position: absolute;
    left: 16%;
    top: 8px;
    content: '';
    width: 12px;
    height: 12px;
    background: url(../images/icon-search.svg) no-repeat;
}

/*首页动态和最新动态页面公用样式*/

.news-box {
    width: 100%;
}

.news-content {
    width: 100%;
    box-sizing: border-box;
    padding: 0 14px;
}

.hot-news {
    width: 100%;
    display: block;
    height: 180px;
    overflow: hidden;
    border-radius: 15px;
    position: relative;
}

.hot-news img {
    width: 100%;
    height: auto;
}

.hot-news p {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 29px;
    line-height: 29px;
    color: #fff;
    font-size: 13px;
    background-color: rgba(0, 0, 0, .25);
}

.news-item {
    display: block;
    box-sizing: border-box;
    padding: 12px;
    width: 100%;
    height: 80px;
    margin-top: 15px;
    border-radius: 12px;
}

.news-item .fl {
    width: 25%;
    height: 55px;
    overflow: hidden;
    border-radius: 10px;
}

.news-item .fl img {
    width: 100%;
    height: 100%;
}

.news-item .fr {
    width: 72%;
    margin-left: 2%;
}

.no-photo .fr {
    width: 100%;
}

.news-item .fr h3 {
    font-size: 14px;
    line-height: 1.4;
    font-weight: bold;
    margin-bottom: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.news-item .fr p {
    font-size: 12px;
    line-height: 1.3;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.news-item:last-child {
    margin-bottom: 79px;
}

/*公用顶部阴影*/
.top-header::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 100%;
    height: 15px;
    background: url(../images/blur-down.png) no-repeat center top;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
}

/*公用查询按钮*/
.search-btn {
    display: block;
    width: 35%;
    border-radius: 20px;
    height: 40px;
    line-height: 40px;
    margin: 20px auto 0;
    background: #00A0F9;
    font-size: 16px;
    color: #fff;
    position: relative;
    box-sizing: border-box;
    padding-left: 23px;
    text-align: center;
}

.search-btn::after {
    content: '';
    background: url(../images/search-btn-icon.svg) no-repeat center center;
    width: 19px;
    height: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -23px;
    transform: translate(-50%, -50%);
}

.search-btn:active {
    background: #04a6ec;
}

/*公用title*/
.my-title {
    padding-left: 18px;
    font-size: 17px;
    color: #323232;
    position: relative;
    font-weight: bold;
    padding-bottom: 15px;
    padding-top: 15px;
}

.my-title::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 7px;
    height: 16px;
    background-color: #00acee;
    border-radius: 4px;
    margin-top: 1px;
}

/*更改插件默认样式*/
.mbsc-mobiscroll .mbsc-sc-whl-l {
    border-top: 1px solid #00acee;
    border-bottom: 1px solid #00acee;
}

.mbsc-mobiscroll .mbsc-fr-btn {
    color: #00acee;
}

/*公用保存取消按钮*/

.buttons {
    width: 220px;
    margin: 0 auto;
}

.save-btn, .cancel-btn {
    float: left;
    color: #fff;
    width: 100px;
    height: 40px;
    background: #00acee;
    border-radius: 20px;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
}

.cancel-btn {
    margin-left: 20px;
    color: #00acee;
    background: none;
    box-sizing: border-box;
    border: 1px solid #00acee;
}

.strong {
    color: #323232;
}

/*公用遮罩弹窗*/

/*遮罩*/
.mask {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.mask .wrap {
    width: 77.333%;
    height: 200px;
    border-radius: 20px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
}

.mask p {
    height: 125px;
    line-height: 125px;
    text-align: center;
    color: #888;
}

.mask .btn-wrap {
    text-align: center;
}

.mask .btn-wrap span {
    display: inline-block;
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 40px;
}

.mask .btn-wrap .okbtn {
    color: #fff;
    font-size: 16px;
    background: #f2395b;
    margin-right: 17px;
}

.mask .btn-wrap .nobtn {
    color: #00acee;
    border: 1px solid #00acee;
}

.close-mask {
    position: absolute;
    bottom: -80px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 40px;
    height: 40px;
    background: url(../images/close-mask.svg) no-repeat center center;
}

/*placeholder样式*/

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
    font-size: 14px;
    color: #888;
}

/* 使用webkit内核的浏览器 */
textarea:-moz-placeholder,
input:-moz-placeholder {
    font-size: 14px;
    color: #888;
}

/* Firefox版本4-18 */
textarea::-moz-placeholder,
input::-moz-placeholder {
    font-size: 14px;
    color: #888;
}

/* Firefox版本19+ */
textarea:-ms-input-placeholder,
input:-ms-input-placeholder {
    font-size: 14px;
    color: #ccc;
}

/*没有查询结果*/
.empty-result {
    text-align: center;
}

.empty-result i {
    margin-top: 20px;
    margin-bottom: 14px;
    display: inline-block;
    width: 210px;
    height: 140px;
    background: url(../images/search-empty.svg) no-repeat center center;
}

.empty-result p {
    color: #b2b2b2;
    font-size: 12px;
    padding-bottom: 40px;
}

/*针对时间选择的*/
.mbsc-mobiscroll .mbsc-cal-tabs .mbsc-cal-tab-sel {
    background: #00acee;
}

.mbsc-mobiscroll .mbsc-cal-tab {
    border: 1px solid #00acee;
}

.mbsc-mobiscroll .mbsc-cal-days th {
    border-bottom: 1px solid #00acee;
}

.mbsc-mobiscroll .mbsc-cal-days {
    color: #00acee;
}

.mbsc-mobiscroll .mbsc-cal .mbsc-cal-day-sel .mbsc-cal-day-i, .mbsc-mobiscroll .mbsc-cal .mbsc-cal-sc-sel .mbsc-cal-sc-cell-i {
    background-color: #00acee;
}

.mbsc-ic-arrow-left5:before,
.mbsc-ic-arrow-right5:before {
    color: #00acee;
}
.mbsc-mobiscroll .mbsc-cal-hl-now .mbsc-cal-today {
    color: #00acee;
}

     /*自定义弹出层*/
.myToolTip {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    color: #fff;
    width: 60%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 10px;
    font-size: 13px;
}

/*图片样式*/

.pswp__zoom-wrap {
    transform: none !important;
}
.pswp__img {
    width: 100% !important;
    height: auto !important;
    top: 50% !important;
    left: 0;
    transform: translate(0,-50%);
}

/*提交按钮*/

.submit-btn {
    width: 73.333%;
    height: 39px;
    line-height: 39px;
    border-radius: 20px;
    background: #00acee;
    color: #fff;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}

/*加载*/
.loading {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    background: url("../images/load.gif") no-repeat center center;
    background-size: 40px 40px;
}